/ {

    aliases {
        step   = &step_pin;
        dir    = &dir_pin;
        enable = &enable_pin;
    };

    /* Parent grouping node for the stepper control signals */
    stepper_motor: stepper_motor {
        compatible = "gpio-leds";

        step_pin: step_pin {
            gpios = <&gpiod 7 GPIO_ACTIVE_HIGH>;
        };

        dir_pin: dir_pin {
            gpios = <&gpiod 6 GPIO_ACTIVE_HIGH>;
        };

        /* ENABLE pin: PA2 */
        enable_pin: enable_pin {
            gpios = <&gpioa 2 GPIO_ACTIVE_HIGH>;
        };
    };

    /* UI Buttons on PE11-PE15 */
    button_controls: button_controls {
        compatible = "gpio-keys";
        
        button_up: button_up {
            gpios = <&gpioe 11 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
        };
        
        button_down: button_down {
            gpios = <&gpioe 12 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
        };
        
        button_left: button_left {
            gpios = <&gpioe 13 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
        };
        
        button_right: button_right {
            gpios = <&gpioe 14 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
        };
        
        button_select: button_select {
            gpios = <&gpioe 15 (GPIO_PULL_DOWN | GPIO_ACTIVE_LOW)>;
        };
    };
};
