/ {
    aliases {
        /* Motor 1 - Laminating */
        motor1pul    = &motor1_pul_pin;
        motor1dir    = &motor1_dir_pin;

        /* Motor 2 - Molding */
        motor2pul    = &motor2_pul_pin;
        motor2dir    = &motor2_dir_pin;

        /* Motor 3 - Cutting */
        motor3pul    = &motor3_pul_pin;
        motor3dir    = &motor3_dir_pin;

        /* Motor 4 - Dispensing */
        motor4pul    = &motor4_pul_pin;
        motor4dir    = &motor4_dir_pin;

        /* LCD Control */
        lcd-dc    = &lcd_dc_pin;
        lcd-rst   = &lcd_rst_pin;
    };

    lcd_control: lcd_control {
        compatible = "gpio-leds";

        lcd_dc_pin: lcd_dc {
            gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
        };

        lcd_rst_pin: lcd_rst {
            gpios = <&gpiod 12 GPIO_ACTIVE_HIGH>;
        };
    };

    /* Motor 1 - Laminating */
    motor1_laminating: motor1_laminating {
        compatible = "gpio-leds";

        motor1_pul_pin: motor1_pul {
            gpios = <&gpiob 15 GPIO_ACTIVE_HIGH>;  /* PB15 */
        };

        motor1_dir_pin: motor1_dir {
            gpios = <&gpiog 4 GPIO_ACTIVE_HIGH>;   /* PG4 */
        };
    };

    /* Motor 2 - Molding */
    motor2_molding: motor2_molding {
        compatible = "gpio-leds";

        motor2_pul_pin: motor2_pul {
            gpios = <&gpiob 14 GPIO_ACTIVE_HIGH>;  /* PB14 */
        };

        motor2_dir_pin: motor2_dir {
            gpios = <&gpiod 13 GPIO_ACTIVE_HIGH>;  /* PD13 */
        };
    };

    /* Motor 3 - Cutting */
    motor3_cutting: motor3_cutting {
        compatible = "gpio-leds";

        motor3_pul_pin: motor3_pul {
            gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;  /* PB12 */
        };

        motor3_dir_pin: motor3_dir {
            gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;   /* PC7 */
        };
    };

    /* Motor 4 - Dispensing */
    motor4_dispensing: motor4_dispensing {
        compatible = "gpio-leds";

        motor4_pul_pin: motor4_pul {
            gpios = <&gpiob 13 GPIO_ACTIVE_HIGH>;  /* PB13 */
        };

        motor4_dir_pin: motor4_dir {
            gpios = <&gpiod 9 GPIO_ACTIVE_HIGH>;   /* PD9 */
        };
    };

    some_control: some_control {
        compatible = "gpio-leds";
    
        some_control_pin: some_control_pin {
            gpios = <&gpioe 5 GPIO_ACTIVE_HIGH>;
        };
    };
    
};


