# defines the BOARD_PLAITPLIOT symbol and selects the esp 32 wroom 32ue and the pro cpu,  

# TODO: need to change this back to the wroom ue32 or whatever the fuck it was.
config BOARD_PLAITPILOT
	select SOC_ESP32_WROOM_32UE_N4
	select SOC_ESP32_PROCPU if BOARD_PLAITPILOT_PROCPU